*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo{
    width: 5em;
    margin: 1em;
}

#menu{
    width: 40px;
    margin: 1em;
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

input{
    display: flex;
    justify-content: center;
    border-radius: 10em;
    width: 200px;
    height: 30px;
  /*position: relative;
    right: 45vw;*/

}



.two{
    background-color: rgb(0, 0, 0);
    margin: 0;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

.two img{
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
}

section{ 
    margin: 50px;
    border-radius: 8px;
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
}

section img{
    width: 25%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

section p{
    font-size: x-large;
    margin: 10px;
}